<section class="dashboard-show">
  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="product-count">
    <h4>Product Count: <%= Product.count %></h4>
  </div>

  <div class="category-count">
    <h4>Category Count: <%= Category.count %></h4>
  </div>

</section>