<section class="about-index">
  <header class="page-header">
      <h1>About Us</h1>
  </header>

  <div class="intro">
    <p>
      We are a store for all your favourite plants. Also the ones that aren't your favourite.
    </p>
    <p>
      If you don't have a favourite, we'll help you find one.
    </p>
    <p>
      Have a look at our other products!
    </p>
  </div>

</section>