<article>
  <header>
    <%= link_to product_path(product) do %>
      <%= image_tag product.image.thumb.url, alt: product.name %>
      <h1>
        <span><%= product.name %></span>
        <span><%= humanized_money_with_symbol(product.price) %></span>
      </h1>
    <% end %>
  </header>

  
    <% end %>
  </footer>




</article>
